.javascript {
    color: #e1a027;
}

.php {
    color: #7a86b8;
}

.node {
    color: #5fa04e;
}

.angular {
    color: #de002d;
}

.vue {
    color: #42b883;
}

.vue-js {
    color: #42b883;
}

.react {
    color: #087ea4;
}

.nginx {
    color: #009900;
}

.linux {
    color: #f5d835;
}

.docker {
    color: #1f97ee;
}

.chatgpt {
    color: #75ab9d;
}

.html {
    color: #de4b25
}

.css {
    color: #0b72b7
}

.js {
    color: #e1a027
}

.wordpress {
    color: #00759b
}

.codeigniter {
    color: #dd4814
}

.windows {
    color: #0078d4
}

.mariadb {
    color: #4e629a
}

.java {
    color: #e6892e;
}

.cpp {
    color: #649ad2;
}

.bootstrap {
    color: #722efa;
}

.fomantic {
    color: #35bdb2;
}