body {
  background-color: #121212;
  color: #8d8e8e;
}

/* Top navigation */
.top-nav-right-search {
  margin: -1em .2em;
  padding: 0;
  max-height: 30px;
}

.ui.menu > #top_menu > a.item {
  color: rgba(255, 255, 255, .5);
}

.ui.menu > #top_menu > a.item:hover {
  color: rgba(255, 255, 255, .9);
}

body > div.ui.menu {
  border-radius: 0;
}

.ui.menu.custom-height-mod {
  max-height: 32px;
}

.ui.menu .item img.logo {
  margin-right: .75em;
  max-width: 24px;
  max-height: 24px;
}

.ui.header {
  margin: 1rem;
}

/* Posts */
code {
  background: #000 !important;
  color: limegreen !important;
  user-select: all !important;
  -moz-user-select: all !important;
  -webkit-user-select: all !important;
  cursor: pointer !important;
  font-size: .9em !important;
}

/*code::before {
content: '$ ' !important;
}*/

  /* Posts container */
  .main.container {
    margin-top: 0;
  }

  .ui.text.container {
    max-width: inherit !important;
    padding: 1em 0;
  }

  .ui.grid {
    margin: 0 !important;
  }

  /* Posts table */
  .ui.table {
    font-size: .8em;
    color: rgba(255, 255, 255, .5);
  }

  .ui.table > thead > tr > th {
    padding: .35em .5em;
    color: rgba(255, 255, 255, .7);
  }

  .custom-x-grid-padding-table-posts {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ui.table > tbody > tr,
  .ui.table > tbody > tr a {
    color: rgba(255, 255, 255, .6);
  }

  .ui.table > tbody > tr:hover,
  .ui.table > tbody > tr:hover a {
    color: rgba(255, 255, 255, .9);
  }

  /*.ui.table > tbody > tr > td,*/
  /*.ui.table > tr > td {*/
  /*    white-space: nowrap;*/
  /*    overflow: hidden;*/
  /*    max-width: 720px;*/
  /*    text-overflow: ellipsis;*/
  /*}*/

  .ui[class*="very compact"].table > tbody > tr > td {
    padding: 0.2em 0.6em;
  }

  /* Side menu */
  .custom-x-grid-padding-side-menu {
    padding-left: .5em;
    padding-right: 1em;
  }

  /* etc */
  .border-radius-0 {
    border-radius: 0 !important;;
  }

  .border-bottom {
    border-bottom: 1px solid #2d2e2f !important;;
  }

  .border-top {
    border-top: 1px solid #2d2e2f !important;;
  }

  .border-1 {
    border: 1px solid #2d2e2f !important;
  }

  .title-op-70 {
    color: rgba(255, 255, 255, .70);
  }

  .search-result-padding {
    margin: 1.5em 0 1.5em !important;
  }

  .desc-bg {
    background: #222222 !important;
  }
